In [6]:
#list default functions
l=[1,2,3,4,5,6,7,8,9,10,10,1,1,1,22,25]
m=['a','b','c','d','e','f']
print(len(l))
print(max(l))
print(min(l))
print(list(range(10)))
l.extend(m)
print(l)

16
25
1
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 1, 1, 1, 22, 25, 'a', 'b', 'c', 'd', 'e', 'f']

In [14]:
#dictionary
r={'guna':100,'sekhar':97,'jonsnow':75,'tyrion':99,'stark':85}
print(r.copy())
print(r.get('jonsnow'))
print(r.setdefault('danaerious','NULL'))
print(r.update({'targarean':94}))
print(r.items())

{'guna': 100, 'sekhar': 97, 'jonsnow': 75, 'tyrion': 99, 'stark': 85}
75
NULL
None
dict_items([('guna', 100), ('sekhar', 97), ('jonsnow', 75), ('tyrion', 99), ('stark', 85), ('danaerious', 'NULL'), ('targarean', 94)])

In [15]:
#sets
s={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}
t={5,1,2,8,6,4,40,4,45,8,89}
s.add(16)
print(s)
z=s.difference(t)
print(z)
s.pop()
print(s)
s.remove(10)
print(s)
y=s.symmetric_difference(t)
print(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
{3, 7, 9, 10, 11, 12, 13, 14, 15, 16}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}
{2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16}
{1, 3, 7, 40, 9, 11, 12, 45, 13, 14, 15, 16, 89}

In [18]:
#tuple
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3,1,1,1,2,2,3)

tuple3 = tuple1 + tuple2
print(tuple3)
print(tuple2.count(1))
print(tuple2.index(1))
print(len(tuple2))

('a', 'b', 'c', 1, 2, 3, 1, 1, 1, 2, 2, 3)
4
0
9

In [27]:
#string
a='jonsnow danaerious tyrrion cersei nedstark arya sansa ramsay gendry'
print(a.count('d'))
print(a.title())
print(a.lower())
print(a.split())
print(a.capitalize())

3
Jonsnow Danaerious Tyrrion Cersei Nedstark Arya Sansa Ramsay Gendry
jonsnow danaerious tyrrion cersei nedstark arya sansa ramsay gendry
['jonsnow', 'danaerious', 'tyrrion', 'cersei', 'nedstark', 'arya', 'sansa', 'ramsay', 'gendry']
Jonsnow danaerious tyrrion cersei nedstark arya sansa ramsay gendry